:root{
    --color-blue:#0762E7;

    --block-gray:#F6F6F6;
}
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

.bg-custom-class{
    background-color: #F6F6F6;
}

body{
    font-family: "Afacad", sans-serif;
}

.header__menu{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important   ;
}
.row{
    margin-top: 10px;
}

.header__logo{
    display: inline-flex;
    align-items:center;
    gap:15px;
    cursor: pointer;
}
.logo{
    max-width: 50px;
    fill:var(--color-blue);
}

.text__logo{
    font-size: 40px;
    font-weight: 500;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.navbar__list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;

}

.navbar__item{
    background-color: #EFEFEF ;
    padding: 25px;
    border-radius: 110px;
    transition: 0.3s ease;
}

.navbar__item:hover{
    background-color: #ffffff ;
    cursor: pointer;
}

.navbar__link{
    text-decoration: none;
    color: #4F4F4F;
    font-size: 25px;

}
.navbar__link:hover{
    color: #000000;
}

.account{
    display: flex;
    align-items: flex-start;
    gap:5px;
    cursor: pointer;
}

.header__account{
    min-width: 60px; 
    min-height: 60px; 
    background-color: #ffffff; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.header__account:hover{
    background-color: var(--color-blue);
}
.header__account:hover .header__account-image {
    filter: brightness(0) invert(1);
}
.header__account.man{
    background-color: var(--color-blue); 
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.header__account-image{
    max-height: 25px;
    transition: 0.3s ease;
}



.header__account-image-photo{
    height: 100%;
    position: absolute; 
    bottom: 0;
}

.content-left.container{
    margin: 0;
}


h1{
    color: #000000;
    font-size: 60px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}


.col-md-4.image_lungs{
    height: 10px;
    width: 10px;
}

/* блок с картинкой слева */
.image_lungs-img{

    position: relative;
}
.image_lungs-img.col-12 {
    flex: 0 0 auto;
    width: 60%;
}

.binoculars{
    height: 50px;
    width: 50px;
    padding: 9px;
}

.heart-ring{
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}
.heart_ring-card{
    display: flex;
    justify-content: start;

}

.heart_ring-card-circle{
    background-color: #F6F6F6;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.heart_ring-card-pharagraht{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap:15px;
    border: 5px solid #ffffff;
    border-radius: 110px;
    padding-right: 20px;
    position: absolute;
    top: 25%;
    left: 25%;
}


/* график внизу */
.graf-card-pharagraht{
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    position: absolute;
    top: 60%;
    left: 15%;
}
.under-graf-block{
    display: flex;
    align-items: start;
    gap:20px;
}

.graf-card-circle{
    background-color: #F6F6F6;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.trend{
    position: absolute;
    height: 35px;
    width: 25px;
}
.formul{
    color: #403f3f;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.formul_procent{
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.formul-text{
    display: flex;
    flex-direction: column;     
}

.image-text-graf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    gap:30px
}

.image-graf-img{
    height: 120px;
    width: 190px;
}
.procent_graf{
    color: #403f3f;
    font-size: 20px;
    font-weight: 500;
    
}
.header__account.man.light{
    background-color: #ffffff;
    
}
/* блюр */
.blur-card-block{
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 30px;
    backdrop-filter: blur(10px);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    position: absolute;
    top: 55%;
    right: 10%;
}
.blur-card-image-text{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap:40px;
}

.blur_text{
    color: #ffffff;
    font-size: 25px;
    font-weight: 200;
    margin: 0;
    padding: 0;

}

.blur-card-time{
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    margin-top: 15px;
    padding: 0;
}
.blur-card-doctor{
    color: #ffffff;
    font-size: 18px;
    font-weight: 200;
    padding: 0;
}

.blur-point-first{
    background-color: rgba(250, 250, 250, 0.207); 
    border-radius: 50px;
    backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: absolute;
    top: 25%;
    left: 30%;
}
.blur-point-first::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
}
.blur-point-first:hover{
    transform: scale(1.2);
}
.position-blur-f{
    top:30%;
    left: 215px;
}

.blur-point-second{
    background-color: rgba(250, 250, 250, 0.207);  
    border-radius: 50px;
    backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 42%;
}
.blur-point-second::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
}
.blur-point-second:hover{
    transform: scale(1.2);
}

.position-blur-s{
    top: 50%;
    left: 170px;
}

.blur-point-third{
    background-color: rgba(250, 250, 250, 0.207);  
    border-radius: 50px;
    backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: absolute;
    top: 80%;
    left: 50%;
}
.blur-point-third::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
}
.blur-point-third:hover{
    transform: scale(1.2);
}

.position-blur-t{
    top: 75%;
    left: 370px;
}
/* иконки */
.image_icon{
    max-width: 25px;
    max-height: 25px;
}
.image_plus {
    background-color: #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}
.image_plus:hover{
    background-color: #efefef;
    border: 5px solid #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.image_minus {
    background-color: #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 110px;
    left: 0px;
    z-index: 1000;
    cursor: pointer;
}
.image_minus:hover{
    background-color: #efefef;
    border: 5px solid #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.image_maximize {
    background-color: #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    top: 55px;
    left: 0px;
    cursor: pointer;
}
.image_maximize:hover{
    background-color: #efefef;
    border: 5px solid #ffffff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.novigation-icon-mane{
    display: flex;
    top:30px;
    left:90%;
    position:absolute;
}

.content_image-text{
    display: flex;
    align-items: center;
    justify-content: center ;
}
/* правый сверху блок */
.content_right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.contant-medication{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 6% 35px;
    border-radius: 80px;
}
.medication-main {
    color: #000000;
    font-size: 25px;
    font-weight: 200;
    margin: 0px;
    padding-left: 5px;
}
.medication-main-btn{
    display: flex;
    gap:5px;
   
}
.search-block{
    display: flex;
    align-items: center;
    border: transparent;
    background-color: #F6F6F6;
    padding: 10px 0px 10px 15px;
    border-radius: 35px;
    width: 170px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;

}

.medication_search{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.search_text{
    color: #000000;
    font-size: 20px;
    font-weight: 200;
    border: transparent;
    background-color: transparent;
    outline: none;  
    margin-left: 10px;
}

.medication_maximize{
    /* background-color: var(--color-blue); */
    background-color: #F6F6F6;
    border-radius: 50%;
    height:50px;
    width: 50px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
}
.medication_maximize:hover{
    background-color: var(--color-blue);
    cursor: pointer;
    transition: 0.3s ease;
}
.medication_maximize:hover .image_maximize-medication {
    filter: brightness(0) invert(1);
}
.image_maximize-medication{
    position: absolute;
    max-width: 15px;
    max-height: 15px;
    transition: 0.3s ease;
}
.image_maximize-medication:hover{
    filter:  brightness(0) invert(1);
}
.medication_folder{
    background-color: #F6F6F6;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
}
.medication_folder:hover{
    background-color: var(--color-blue);
    cursor: pointer;
}

.folder_image{
    position: absolute;
    max-width: 15px;
    max-height: 15px;
    transition: 0.3s ease;
}

.folder_image:hover{
    filter:  brightness(0) invert(1);
}
.medication_folder:hover .folder_image {
    filter: brightness(0) invert(1);
}

.arrow-rigth{
    width:15px;
    height: 15px;  
    margin:0px;
    padding: 0px; 
}

.consulation_text{
    color: #ffffff;
    font-size: 25px;
    font-weight: 200;
    margin:0px;
    padding: 0px;
}
.consulation-block{
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 70px;
    box-sizing: border-box; 
    position: relative;
    padding: 15% 0;
}

.consulation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12%;
}
.scan-cardiology{
    background-color: #ffffff;
    background-color: #ffffff;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 5px 0;
    height: 100%;
}


.osteoporosis{
    background-image:url('../images/8d8577c41e91cc32971cc7618cd0872e.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35px;
    position: relative;
    height: 100%;
}

.osteoporosis::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 55px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.255); /* Здесь можно изменить цвет и степень затемнения */
    z-index: 1;
  }
.container_right-under-second{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px !important;
}


/* кружок */

.paracetomol_image{
    position: absolute;
    height: 10px;
    width: 10px;
    padding: 15px;
}

.under-par-block{
    display: flex;
    align-items: center;
    gap:20px;
}
.formul.par{
    color:#676767;
    font-size: 1.438rem;
}
.formul_procent.par{
    font-size: 2.813rem;
}
.paracetomol-text-block{
    background-color: #F6F6F6;
    display: inline-flex;
    padding: 25px 40px;
    border-radius: 60px;
}
.paracetomol-card{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 25px;
    justify-content: space-between;
}
.paracetomol-text{
    font-size: 1.063rem;
    font-weight: 200;
    padding: 0;
    margin: 0;
}
.scan{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
}

.text-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12%;

}
.arrow_span{
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    height: 15px;
    width: 15px;
}
.num{
    padding: 0px  0px 0px 12%;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
}
.test{
    display: flex;
    flex-direction: column;
    align-items:normal;
}
.text_paracetamol{
    font-size: 18px;
    color:gray;
}
.prom-text{
    display: flex;
    padding: 0 25px;
    position: absolute;
    top:220px;
}




.content_lungs-images{
    display:flex;

}


.card-top {
    background-color: #ffffff;
    border-radius: 45px;
    position: relative;
    display: flex;
    flex-direction: column;

}


.header__account.man.card{
    width: 40px;
    height: 40px;
}
.header-card-account{
    background-color: var(--block-gray);
    display: flex;
    align-items: center;
    padding: 15px 50px 15px 10px;
    border-radius: 60px;
    gap:10px
}
.name {
    color: #000000;
    font-size: 25px;
    font-weight: 400;
}

.lock-icon{
    background-color: #F6F6F6;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.lock-icon-img-dock{
    position: absolute;
    width: 20px;
}
.header-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.content .info {
    margin-bottom: 5px;
}

.label {
    display: block;
    color: gray;
    font-size: 25px;
    font-weight: 300;
}

.value {
    font-size: 45px;
    font-weight: 400;
}
.content-pro{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.lock-icon-img-cross{
    position: absolute;
    height: 15px;
    width: 15px;
}
.action-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background-color: var(--color-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}
button{
    border:none
}
.lock-icon.back{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: rgba(255, 255, 255, 0.458);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 100;
}
.osteoporosis-btn-left{
    padding: 40px 0 20% 20px;
    display: flex;
    flex-direction: column;
    gap:10px
}
.lock-icon-img{
    position: absolute;
    height: 20px;
    width: 20px;
}
.osteoporosis-btn-rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lock-icon.back-rigth{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    max-width: 100%;
    display: flex;
    position: relative;

    background-color: rgba(255, 255, 255, 0.458);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 100;
}


.imgs{
    background-color: green;
    border: 1px solid;
    width: 20px;
    height: 20px;
  }
.img__mountain{
    background-color: red;
    opacity: 0.5;
  }



.block {
    padding: 10px 25px 18px;
    border-radius: 50px;
    background-color: #ffffff;
    height: 100%;
}  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10%;
}

.header-left-icon{
    display: flex;
    gap:20px;
    align-items: center;
}

.icon {
    width: 70px;
    height: 70px;
    background-color: var(--block-gray);
    border-radius: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_pills{
    width: 25px;
    height: 25px;
    position: absolute;
}
.text-paracetamol{
    font-size: 10px;
    font-weight: 400;
}
.percentage {
    font-size: 40px;
    font-weight: 400;
}

.badge {
    background-color: var(--block-gray);
    padding: 5% 6%;
    border-radius: 50px;
    color:#000000;
    font-weight: 300;
    margin-top: 15px;
    font-size: 25px;
}

.graph {
    background-color: var(--block-gray);
    border-radius: 40px;
}

.centr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}



.grafic{
    width:80%;
    margin-left: 20px;
}

.footer {
    display: flex;
    font-size: 10px;
    flex-direction: column;
    margin: auto 40px;
    z-index: 1000;
    padding-top: 45px;
}
.number-footer{
    font-size: 45px;
    line-height: 0.15;
    margin: 0;
}

.footer span {
    color: #007bff;
    font-size: 9px;
    position: relative;
    top: -15px;
    left: 35px;
    margin: 0;
    line-height: 1;
}
.respiratory{
    font-size: 10px;
    margin: 0;
}


.text-left-icon{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-size: 25px;
}

.osteoporosisimg-text{
    color:#ffffff;
    z-index: 10000;
    position: relative;
    margin-left: 20px;
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
    
}
.name_osteoposis{
    font-size: 25px;
    font-weight: 300;
    line-height: 0;
}
.block-text-osteo{
    font-size: 12px;
    color: #F6F6F6;
    font-weight: 300;
    background-color: rgba(98, 98, 98, 0.558);
    display: inline-flex;
    padding: 2px 20px;
    border-radius: 45px;
}
.btn-osteo{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background-color: var(--block-gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.125rem;
}
.btn-osteo-img{
    position: absolute;
    height: 10px;
    width: 10px;
}

.circle{
    background:transparent;
    border-radius: 50%;
    position: relative;
}
.segment1{
    width: 100px;
    height: 50px;
    border-radius: 100px 100px 0 0;
    border-top: 20px solid rgb(226, 224, 224);
    border-left: 20px solid rgb(226, 224, 224);
    border-right: 20px solid rgb(226, 224, 224);
    position: absolute;
    left:0px;
    top:0px;
    transform: rotate(90deg);
}
.text_segment{
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    position: relative;
}
.unical_segment{
    font-size: 10px;
    position: absolute;
    top:5px;
    right: 10px;
}
.segment1::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(226, 224, 224);
    position: absolute;
    left:-20px;
    top:18px
}
.segment1_before::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(226, 224, 224);
    position: absolute;
    left:15px;
    top:55px
}

.segment3{
    width: 25px;
    height: 10px;
    border-radius: 100px 100px 100px 100px;
    border-top: 20px solid rgb(7, 98, 231);;
    transform: rotate(30deg);
    position: absolute;
    left:-15px;
    top:50px;
    
}
.segment4{
    width: 100px;
    height: 50px;
    border-radius: 200px 200px 0px 0px;
    border-top: 20px solid rgb(255, 255, 255);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    left:-53px;
    top:-12px;
    transform: rotate(293deg);
}
.segment4::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left:-7px;
    top:-10px
}
.segment4_before::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left:-5px;
    top:-24px
}

/* медиа запросы */

@media screen and (max-width:1900px) {
    .blur-point-first {
        top: 33%;
        left: 36%;
}
    .image-graf-img {
        height: 90px;
        width: 130px;
    }
    /* .blur-point-third{
        left: 46%;
        top:80%
    } */
    .blur-card-block{
        top:44%
    }
    .heart-ring{
        font-size: 20px;
    }
    .blur-card-time{
        font-size: 25px;
    }
    h1{
        font-size: 50px;
    }
    .respiratory{
        font-size: 20px;
        margin-top: 0px;
    }
    .footer span{
        font-size: 20px;
        top:-45px;
        left:85px;
    }
    .num{
        margin-top: 80px;
    }
    .block-text-osteo{
        font-size: 25px;
    }
    .name_osteoposis{
        font-size: 40px;
    }
    .lock-icon, .action-button, .lock-icon.back, .btn-osteo{
        width: 70px;
        height: 70px;
    }
    .lock-icon-img-cross, .lock-icon-img, .arrow_span, .btn-osteo-img{
        width: 25px;
        height: 25px;
    }
    .lock-icon-img-dock{
        width: 30px;
        height: 30px;
    }

}
@media screen and (max-width:1600px) {
    .search-block{
        width: 120px;
    }
    .search_text,.footer span{
        font-size: 15px;
    }
    .respiratory{
        font-size: 13px;
    }
    .medication-main {
        font-size: 20px;
        padding-left: 0px;
    }
    .consulation_text,.badge,.scan {
        font-size: 20px;
    }
    .footer span{
        left: 70px;
    }
    .blur-point-first,.blur-point-second,.blur-point-third {
        padding: 25px;
}
    .blur-point-third{
        left: 55%;
        top:80%;
    }
    .blur-card-block{
        padding: 20px;
    }
    .heart-ring{
        font-size: 20px;
    }
    .blur-card-time{
        font-size: 18px;
    }
    h1{
        font-size: 50px;
    }
    .blur_text{
        font-size: 20px;
    }
    .blur-card-doctor{
        font-size: 16px;
    }
    .name_osteoposis {
        font-size: 30px;
    }
    .block-text-osteo{
        font-size: 20px;
    }
    .navbar__item{
        padding: 20px;
    }
    .navbar__link{
        font-size: 25px;
    }
    .value {
        font-size: 35px;
    }
    .image_lungs-img.col-12 {
        width: 65%;
    }
    .lock-icon, .action-button, .lock-icon.back, .btn-osteo,.icon {
        width: 65px;
        height: 65px;
    }
    .header-card-account {
        padding: 10px 40px 10px 10px;
    }
    .name,.label{
        font-size: 20px;
    }
    .number-footer,.num{
        font-size: 40px;
    }
    .percentage {
        font-size: 30px;
    }
    .grafic{
        width: 90%;
    }
}

@media screen and (max-width:1400px){
    .image_lungs-img.col-12 {
        width: 95%;
    }
    h1 {
        font-size: 40px;
    }
    .heart_ring-card-circle {
        height: 50px;
        width: 50px;
    }
    .heart_ring-card-pharagraht{
        left: 5%;
    }
    .blur-card-block{
        right: 0%;
        padding: 15px;
    }
    .image-graf-img {
        height: 70px;
        width: 110px;
    }
    .graf-card-pharagraht {
        padding: 10px 15px;
    }
    .graf-card-circle {
        height: 45px;
        width: 45px;
    }
    .grafic{
        width: 100%;
    }
    .graf-card-pharagraht{
        left: -4%;
    }
    .formul{
        font-size: 16px;
    }
    .blur-point-first {
        padding: 20px;
}
    .blur-point-second{
        padding: 20px;
    }
    .blur-point-third{ 
        padding: 20px;
    }
    .value {
        font-size: 35px;

    }
    .lock-icon, .action-button, .lock-icon.back, .btn-osteo{
        width: 60px;
        height: 60px;
    }
    .lock-icon-img-cross, .lock-icon-img, .arrow_span, .lock-icon-img-dock, .btn-osteo-img, .icon_pills {
        width: 25px;
        height: 25px;
    }
    .number-footer{
        font-size: 40px;
    }
    .respiratory{
        margin-top: -5px;
        font-size: 15px;
    }
    .footer span {
        top:-25px
    }
    .num{
        font-size: 40px;
    }
    .navbar__link {
        font-size: 23px;
    }

    .consulation_text, .medication-main, .scan, .text_paracetamol, .badge{
        font-size: 20px;
    }
    .navbar__item{
        padding: 20px;
    }
    .image_icon {
        max-width: 20px;
        max-height: 20px;
    }
}
@media screen and (max-width:1200px){
    .image_lungs-img.col-12 {
        width: 95%;
    }
    h1{
        font-size: 30px;
    }
    .text__logo {
        font-size: 20px;
    }
    .logo{
        max-width: 40px;
    }
    .medication-main{
        font-size: 16px;
    }
    .arrow {
        height: 10px;
        width: 15px;
    }
    .arrow-rigth {
        width: 10px;
    }    
    .search-block{
        padding: 10px 15px;
        width: 100px;
    }
    .search_text{
        font-size: 12px;
    }
    .contant-medication {
        padding: 6% 25px;
    }
    .circle{
        display: none;
    }
    .medication_search{
        width: 15px;
        height: 15px;
    }
    .consulation_text{
        font-size: 16px;
    }
    .scan {
        font-size: 15px;
    }
    .text_paracetamol{
        font-size: 15px;
    }
    .footer {
        padding-top: 30px;
    }
    .badge{
        font-size: 15px;

    }
    .medication_folder {
        height: 40px;
        width: 40px;
    }
    .medication_maximize{
        height: 35px;
        width: 35px;
    }
    .search-block{
        padding: 10px;
    }
    .num {
        font-size: 30px;
    }
    .number-footer{
        font-size: 25px;
    }
    .grafic{
        width: 100%;
    }
    .graph{
        border-radius: 20px;
    }
    .label{
        font-size: 15px;
    }
    .value{
        font-size: 27px;
    }
    .content-pro {
        padding-left: 25px;
    }
    .header__account {
        min-width: 45px;
        min-height: 45px;
    }
    .name{
        font-size: 15px;
    }
    .header-card{
        padding: 12px 15px;
    }
    .lock-icon.back, .lock-icon, .action-button, .btn-osteo{
        height: 35px;
        width: 35px;
    }
    .block-text-osteo{
        font-size: 10px;
    }
    .name_osteoposis{
        font-size: 15px;
    }
    .heart-ring{
        font-size: 15px;
    }
    .binoculars{
        height: 45px;
        width: 45px;
    }
    .heart_ring-card-pharagraht{
        padding-right: 15px;
    }
    .blur-point-first, .blur-point-second, .blur-point-third{
        padding: 15px;
    }
    .blur-point-first::before, .blur-point-second::before, .blur-point-third::before{
        width: 10px;
        height: 10px;
    }
    .trend{
        width: 15px;
    }
    .graf-card-circle{
        width: 30px;
        height: 30px;
    }
    .procent_graf{
        font-size: 15px;
    }
    .formul, .formul_procent{
        font-size: 13px;
    }
    .graf-card-pharagraht{
        padding: 10px;
    }
    .blur_text, .blur-card-time{
        font-size: 15px;
        margin: 0;
    }
    .blur-card-doctor{
        font-size: 10px;
    }
    .blur-card-block {
        padding: 15px;
    }
    .novigation-icon-mane{
        top:65px;
    }
    .number-footer{
        font-size: 30px;
    }
    .respiratory, .footer span{
        font-size: 13px;
    }
    .footer span{
        left:65px;
    }
    .navbar__link{
        font-size: 17px;
    }
    .arrow_span, .btn-osteo-img{
        width: 15px;
        height: 15px;
    }
    .header__account-image {
        max-height: 20px;
    }
    .lock-icon, .action-button, .lock-icon.back, .btn-osteo, .icon {
        width: 50px;
        height: 50px;
    }
    .lock-icon-img-cross, .lock-icon-img, .arrow_span, .lock-icon-img-dock, .btn-osteo-img, .icon_pills {
        width: 20px;
        height: 20px;
    }   
    .novigation-icon {
        top: -50px;
        right: -50px;
        position: absolute;
    }
}

@media screen and (max-width:992px){
    .blur-card-block {
        top: 38%;
}
    .blur-card-block{
        padding: 10px;
    }
    .header__account{
        min-height: 30px;
        min-width: 30px;
    }
    .blur_text, .blur-card-time{
        font-size: 10px;
    }
    .blur-card-block{
        border-radius: 15px;
    }
    .blur-card-block{
        top:47%
    }
    .blur-point-first {
        top: 36%;
        left: 28%;
    }
    .blur-point-second{
        top:53%;
        left:90px;
    }
    .image-graf-img{
        height: 30px;
        width: 70px;
    }
    .procent_graf, .formul, .formul_procent{
        font-size: 10px;
    }
    .respiratory{
        font-size: 10px;
    }
    .number-footer{
        font-size: 20px;
    }
    .footer span {
        left: 40px;
        font-size: 10px;
    }
    .footer {
        margin: auto 12px;
    }
    .num {
        font-size: 20px;
    }
    .search-block {
        width: 35px;
        height: 35px;
    }
    .medication_folder {
        height: 35px;
        width: 35px;
    }
    .header-card{
        padding: 12px;
    }
    .content-pro{
        padding-left: 20px;
    }
    .card-top {
        border-radius: 40px;
    }
    .navbar__link{
        font-size: 15px;
    }
    .navbar__item {
        padding: 12px;
    }
    .header__account-image {
        max-height: 12px;
    }
    .search_text {
        display: none;
        width: 35px;
        height: 35px;
}
    .lock-icon, .action-button, .lock-icon.back, .btn-osteo, .icon {
        width: 40px;
        height: 40px;
    }
    .percentage {
        font-size: 20px;
    }
    .text_paracetamol {
        font-size: 10px;
    }
    .grafic {
        width: 90%;
        margin-left: 4px;
    }
    .num {
        margin-top: 30px;
    }
    .scan {
        font-size: 12px;
    }
    .scan-cardiology,.block{
        border-radius: 30px;
    }
    .block {
        padding: 10px 10px 18px;
    }
    .consulation_text {
        font-size: 12px;
    }
    .medication-main {
        font-size: 12px;
    }
    .value {
        font-size: 20px;
    }
    .header-card-account {
        padding: 5px 10px 5px 5px;
    }
    .lock-icon-img-cross, .lock-icon-img, .arrow_span, .lock-icon-img-dock, .btn-osteo-img, .icon_pills {
        width: 15px;
        height: 15px;
    }
    .heart_ring-card-circle {
        height: 40px;
        width: 40px;
    }
    .binoculars {
        height: 40px;
        width: 40px;
    }
    .graf-card-pharagraht {
        border-radius: 15px;
    }
    .heart-ring {
        font-size: 12px;
    }
    .image_maximize,.image_plus,.image_minus{
        height: 35px;
        width: 35px;
    }
    .image_minus{
        top:66px;
    }
    .image_maximize{
        top:33px;
    }
    .novigation-icon {
        top: -73px;
        right: -39px;
    }
    .image_icon {
        max-width: 16px;
        max-height: 16px;
    }
    .btn-osteo {
        bottom: 167px;
    }
    .header__account.man.card {
        width: 35px;
        height: 35px;
    }
    .blur_text, .blur-card-time {
        font-size: 12px;
    }
    
}
@media screen and (max-width:768px){
    .consulation-block {
        padding: 15% 0;
    }
    h1{
        font-size: 16px;
    }
    .text__logo {
        font-size: 15px;
    }
    .logo {
        max-width: 30px;
    }
    .text-arrow {
        padding: 0 7%;
    }
    .circle{
        display: none;
    }
    .medication-main, .consulation_text,.text_paracetamol,.badge,.scan,.name{
        font-size: 12px;
    }
    .num,.number-footer{
        font-size: 15px;
    }
    .footer{
        margin: 0;
    }
    .header{
        padding-bottom: 4%;
    }
    .scan-cardiology,.block{
        border-radius: 20px;
    }
    .block {
        padding: 8px 11px;
    }
    .search-block {
        width: 25px;
        height: 25px;
    }
    .contant-medication{
        padding: 6% 7px;
    }
    .medication_maximize,.medication_folder{
        width: 25px;
        height: 25px;
    }
    .search-block{
        padding: 7px;
    }
    .folder_image, .image_maximize-medication,.medication_search{
        width: 10px;
        height: 10px;
    }
    .header__account-image{
        max-height:12px;
    }
    .value{
        font-size: 15px;
    }
    .label{
        font-size: 11px;
    }
    .novigation-icon-mane{
        top:0;
    }
    .icon{
        padding: 16px;
        width: 30px;
        height: 30px;
    }
    .icon_pills{
        width: 13px;   
    }
    .grafic {
        width: 77%;
        margin-left: 9px;
    }
    .novigation-icon {
        top: 10px;
        right: -23px;
    }
    .footer span{
        left:25px;
        top:-20px;
        font-size: 8px;
    }
    .header-card{
        padding: 12px 8px;
    }
    .header-card-account {
        padding: 2px 15px 2px 5px;
    }
    .content-pro{
        padding-left: 20px;
    }
    .card-top{
        border-radius: 20px;
    }
    .lock-icon-img-cross, .lock-icon-img, .arrow_span, .btn-osteo-img, .icon_pills {
        width: 10px;
        height: 20px;
    }
    .block-text-osteo{
        padding: 2px 5px;
    }
    .header__account.man.card{
        width: 30px;
        height: 30px;
    }
    .lock-icon-img-dock{
        width: 14px;
    }
    .medication-main, .consulation_text, .text_paracetamol, .badge, .scan, .name {
        font-size: 9px;
    }
    .navbar__link{
        font-size: 9px;
    }
    .navbar__item{
        padding: 4px;
    }
    .image_lungs-img.col-12 {
        width: 100%;
    }
    .respiratory {
        font-size: 8px;
    }
    .graph {
        border-radius: 15px;
    }   
    .percentage {
        font-size: 15px;
    }
    .image_icon {
        max-width: 12px;
        max-height: 16px;
    }
    .novigation-icon {
        top: 9px;
        right: -35px;
    }   
    .arrow,.arrow-rigth {
        height: 7px;
        width: 10px;
    }
    .badge{
        font-size: 8px;
    }
    .novigation-icon {
        top: -30px;
        right: -35px;
    }   
    .lock-icon, .action-button, .lock-icon.back, .btn-osteo, .icon {
        width: 30px;
        height: 30px;
    }
    .action-button {
        bottom: 5px;
        right: 5px;
    }
    .osteoporosis-btn-left {
        padding: 10px 0 30% 10px;
        gap: 6px
}
    .btn-osteo {
        bottom: 155px;
        right: 10px;
    }
    .osteoporosis{
        border-radius: 20px;
    }
    .heart_ring-card-circle {
        height: 30px;
        width: 30px;
    }
    .blur_text, .blur-card-time {
        font-size: 12px;
    }
    .blur-card-block {
        padding: 7px;
    }
    .blur-card-block {
        right: -6%;
    }
    .image-graf-img {
        height: 25px;
        width: 50px;
    }
    .graf-card-circle {
        width: 25px;
        height: 25px;
    }
    .blur-card-doctor {
        font-size: 7px;
    }
    .block-text-osteo {
        font-size: 9px;
    }
    .name_osteoposis {
        font-size: 12px;
    }
    .blur-card-block {
        top: 32%;
    }
    .heart-ring {
        font-size: 9px;
    }
    .heart_ring-card-circle {
        height: 20px;
        width: 20px;
    }
    .binoculars {
        height: 30px;
        width: 30px;
    }
    .heart_ring-card-pharagraht {
        padding-right: 7px;
    }
    .blur-point-second {
        top: 60%;
        left: 129px;
    }
    .heart_ring-card-pharagraht {
        left: 1%;
    }
    .medication-main {
        padding-left: 10px;
    }
    .action-button{
        display:none;
}
@media screen and (max-width:576px){
    .row{
        --bs-gutter-x: 0.6rem !important;}
    .blur-card-block {
            right: -3%;
        }
    .image-text-graf {
        gap:30px;
    }
    
    h1{
        font-size: 30px;
    }
    .header__logo{
        gap:0
    }
    .medication-main,.consulation_text,.text_paracetamol,.badge,.scan,.name{
        font-size: 12px;
    }
    .image_icon{
        max-width: 10px;	
        max-height: 15px;
    }
    .heart_ring-card-pharagraht{
        padding: 0 5px 0 0px;
    }
    .binoculars{
        height: 35px;
        width: 35px;
    }
    .icon_pills{
        width: 15px;
        height: 15px;
    }
    .heart_ring-card-circle,.graf-card-circle{
        height: 30px;
 		width: 30px;
    }
    .blur-point-first,.blur-point-second,.blur-point-third{
        padding: 9px;
    }
    .image_lungs-img.col-12 {
        height: 100%;
        padding-bottom: 25px;
    
    }
    .blur-point-first{
        top: 36%;
        left: 28%;
    }
    .graf-card-pharagraht {
        border-radius: 27px;
    }   
    .blur-point-first,.blur-point-second,.blur-point-third{
        padding: 9px;
    }
    .blur-point-second{
        top: 50%;
        left: 34px;
    }
    .heart-ring,.formul,.formul_procent,.procent_graf,.blur_text,.blur-card-time{
        font-size: 16px;
    }
    .image-graf-img{
        width: 80px;
        height: 25px;
    }
    .graf-card-pharagraht{
        left: -5%;
    }
    .graf-card-pharagraht{
        padding: 8px;
    }
    .lock-icon.back,.lock-icon,.action-button,.btn-osteo{
        height: 25px;
        width: 25px;
    }
    .contant-medication{
        padding: 6% 7px;
    }
    .consulation-block{
        padding: 12% 0;
    }
    .lock-icon.back,.lock-icon,.action-button,.btn-osteo{
        height: 25px;
 		width: 25px;
 
    }
    .image_plus,.image_maximize,.image_minus {
        height: 35px;
        width: 35px;
    }
    .image_plus:hover, .image_maximize:hover, .image_minus:hover {
        height: 35px;
        width: 35px;
    }
    .medication-main {
        padding-left: 10px;
    }
    .image_maximize{
        top:31px;
    }
    .image_minus{
        top:62px;
    }
    .respiratory {
        font-size: 7px;
    }
    .respiratory {
        margin-top: -1px;
    }
    .footer span {
        top: -16px;
        font-size: 7px;
    }
    .percentage {
        font-size: 18px;
    }
    .btn-osteo {
        top: 19px;
        right: 20px;
    }
    .osteoporosis{
        border-radius: 20px;
    }
    .novigation-icon {
        top: 5px;
        right: -48px;
    }
    .text-graf {
        gap: 2px;
    }
    .navbar{
        display: none;
    }
    .image-graf-img {
        width: 96px;
        height: 43px;
    }

}
@media screen and (max-width: 425px) {
    .medication-main, .consulation_text, .text_paracetamol, .badge, .scan, .name {
        font-size: 9px;
    }
    .blur-point-third {
        left: 65%;
        top: 80%;
    }
    .medication-main{
        padding: 10px;
        font-size: 10px;
    }    
    .osteoporosis::before {
        border-radius: 17px;
    }
    .graf-card-pharagraht {
        left: 0%;
    }
    .action-button{
        display: none;
    }
    .grafic {
        margin-left: 10px;
    }
    .centr {
        padding: 5%;
    }
    .navbar{
        display: none;
    }
    .heart-ring, .formul, .formul_procent, .procent_graf, .blur_text, .blur-card-time {
        font-size: 11px;
    }
    .btn-osteo {
        top: 10px;
        right: 10px;
    }
    .percentage {
        font-size: 15px;
    }
    .badge{
        font-size: 8px;
    }
    .graf-card-pharagraht {
        border-radius: 17px;
    }
    body{
        padding-bottom: 30px
    }
}
